// Arrow
//––––––––––––––––––––––––––––––––––––––––––––––––––

.arrow {
  display: none; 

  @media (#{$bp-larger-than-tablet}) {
    display: inline;
    position: fixed;
    z-index: 10;
    width: 15px;
    height: 15px;
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 5.75px;
    padding-right: 4.25px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid $dark-grey;
    transition: 0.3s;
    top: 87%;
    left: 50%;
    margin-left: -12.5px;
    text-decoration: none;
    color: $dark-grey;

    &:hover {
      border: 1px solid $grey;
      color: $grey;
      transition: 0.2s;
    }
  }
}
