// Bottom Nav
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Make mobile friendly asap

.bottom-nav {
  background-color: $light-grey;
  padding-top: 60px;
  padding-bottom: 0px;

  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;

    &:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      filter: grayscale(0%);
      -webkit-transition : 0.2s ease-out;
      -moz-transition : 0.2s ease-out;
    }
  }
}

.mobile-view { 
  display: block;
}

.non-mobile-view {
  display: none;
}

@media (#{$bp-larger-than-tablet}) {
  .mobile-view { 
    display: none;
  }
  .non-mobile-view {
    display: block;
  }
}

.nav-project-box {
  @include flexbox; 
  @include flex-direction(row);
  @include align-items(center); 
  @include justify-content(flex-start);
}

.nav-project-item {
  margin-right: $column-margin;
  max-width: 200px;
}

.social-footer {
  background-color: #f7f7f7;
  padding-bottom: 25px;
  padding-top: 25px;

  ul {
    margin-bottom: 0;
    list-style: none;
  }

  li {
    display: inline;
    margin-right: 14px;
    margin-left: 14px;
  }
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 28px;
    text-decoration: none;
}

a.symbol:before {
    content: attr(title);
    font-size: 28px;
