// Simple Grid
//––––––––––––––––––––––––––––––––––––––––––––––––––

.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// For devices larger than 400px
@media (#{$bp-larger-than-mobile}) {
  .container {
    width: $container-width-larger-than-mobile;
    padding: 0;
  }
}

@media (#{$bp-larger-than-phablet}) {
  .container {
    width: $container-width-larger-than-mobile;
  }

  .column,
  .columns {
    margin-left: $column-margin;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .intro.column {margin-left: grid-offset-length(1); }

  .main.column      { width: grid-column-width(8); }

  .one-half.column      { width: grid-column-width(6);  }
}

@media (#{$bp-larger-than-tablet}) {
  .container {
    width: $container-width-larger-than-phablet;
  }

  .column,
  .columns {
    margin-left: $column-margin;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .intro.column {margin-left: grid-offset-length(3); }

  .main.column      { width: grid-column-width(8);margin-left: grid-offset-length(2);  }

  .one-half.column      { width: grid-column-width(6);  }
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}